<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :license_id %>
    <%= form.text_field :license_id %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :totalvt %>
    <%= form.text_field :totalvt %>
  </div>

  <div class="field">
    <%= form.label :netov %>
    <%= form.text_field :netov %>
  </div>

  <div class="field">
    <%= form.label :gastov %>
    <%= form.text_field :gastov %>
  </div>

  <div class="field">
    <%= form.label :choferv %>
    <%= form.text_field :choferv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
