<table class="table">
 <thead>
  <tr>
   <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  </tr>
  <tr>
   <th>Nombre</th>
   <th>Fecha de Creacion</th>
   <th>Fecha de Modificación</th>
   <th colspan="2"></th>
  </tr>
 </thead>

 <tbody>
  <div id="brands">
   <% @tickets.each do |ticket| %>
    <tr>
     <td><%= ticket.number %></td>
     <td><%= ticket.created_at.strftime("%d/%m/%Y") %></td>
     <td><%= ticket.updated_at.strftime("%d/%m/%Y") %></td>
     <td>
      <%= button_to edit_ticket_path(ticket), {method: :get, class: "btn btn-info"} do %>
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Editar
      <% end %>
     </td>
     <td>
      <%= button_to ticket, { method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-danger" } do %>
       <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Eliminar
      <% end %>
     </td>
    </tr>
   <% end %>
  </div>
 </tbody>
</table>
